<div class="custom-sidenav">
  <ul class="custom-nav-list">
    <li class="custom-list-item" routerLink="/featured">
      <span class="custom-icon material-icons">home</span>
      <span class="custom-text">Home</span>
    </li>
    <li class="custom-list-item" routerLink="/subscriptions">
      <span class="custom-icon material-icons">subscriptions</span>
      <span class="custom-text">Subscriptions</span>
    </li>
    <li class="custom-list-item" routerLink="/history">
      <span class="custom-icon material-icons">history</span>
      <span class="custom-text">History</span>
    </li>
    <li class="custom-list-item" routerLink="/liked-videos">
      <span class="custom-icon material-icons">thumb_up</span>
      <span class="custom-text">Liked Videos</span>
    </li>
  </ul>
</div>
