/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: rgb(247, 255, 255);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-transition .mat-drawer-content {
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: transform, margin-left, margin-right;
    background-color: #fff;
    margin-left: 241px;
    padding-left: 10px;
    color: black;
}